*{
    margin:0;
    padding:0;
}

body{
    background-color: white;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
}

h1{
   color: #000;
   font-size: 30px;
}

.regform{
    width: 800px;
    background-color:white;
    margin: auto;
    color:#FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    border-color: black;
    border-style: outset;
    border-width: 1px;
}

.main{
    background-color: black;
    width:800px;
    margin:auto;
}

form{
    padding : 10px;
}

#name{
    width: 100%;
    height: 100px;
}

.name{
    margin-left: 70px;
    margin-top: 30px;
    width: 200px;
    color: black;
    font-size:18px;
    font-weight: 700;
}

.companyName{
    position:relative;
    left:130px;
    top:-30px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.phone1{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.phone2{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.accounting{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
    
}

.accVersion{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.payroll{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.payVersion{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.sqlConnect{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 340px;
    border-radius: 6px;
    padding: 13px 22px;
    font-size: 16px;
    color: #000;
    border-width: 2px;
}

.latestDocNo{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.latestDocDate{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.sst{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 340px;
    border-radius: 6px;
    padding: 13px 22px;
    font-size: 16px;
    color: #000;
    border-width: 2px;
}

.custOffDay{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 340px;
    border-radius: 6px;
    padding: 13px 22px;
    font-size: 16px;
    color: #000;
    border-width: 2px;
}

.pos{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.attention{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.email{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.submit{
   position:center;
    left:130px;
    top:-1px;
    line-height: 40px;
    width: 150px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.serviceDate{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.timeFrom{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.timeTo{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.supportBy{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.remarks{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.details{
    position:relative;
    left:130px;
    top:-37px;
    line-height: 40px;
    width: 300px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}

.submit{
   position:center;
    left:130px;
    top:-1px;
    line-height: 40px;
    width: 150px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #000;
}